<button type="submit" [ngClass]="class" class="py-2 px-4 border focus:outline-none rounded-md" (click)="handleClick()">
    {{ text }}
    <ng-content select="[icon]"></ng-content>
</button>

<!-- <button type="button" class="inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border bg-blue-600 text-white hover:bg-blue-700 focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
    Small
  </button>
  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
    Default
  </button>
  <button type="button" class="p-4 sm:p-5 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
    Large
  </button> -->