@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: whitesmoke;
}

a,
button {
    cursor: pointer;
}

input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
    border: 1px solid red;
}

.invalid {
    border: 1px solid red;
}

.invalid+.error-message {
    color: red;
    font-size: 0.8rem;
}