<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 p-4">
    <div class="bg-white shadow-lg max-w-md w-full relative">
      <div class="p-5 flex justify-between bg-primary-dark border-b border-blue-gray-100">
        <p class="text-white">{{ data.title }}</p>
        <a (click)="closeModal()">
          <span icon><i class="fa-solid fa-xmark text-white"></i></span>
        </a>
      </div>
      <div class="p-5">
        <form [formGroup]="itemForm" (ngSubmit)="submitData()" class="m-4">
          <div class="mb-4">
            <input
              type="text"
              class="w-full bg-transparent text-sm border rounded-md px-3 py-2 focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              placeholder="Enter item name"
              formControlName="name"
            />
            <small class="text-red-500" *ngIf="itemForm.get('name')?.invalid && itemForm.get('name')?.touched">
              {{ getErrorMessage('name') }}
            </small>
          </div>
          <div class="mb-4">
            <input
              type="number"
              class="w-full bg-transparent text-sm border rounded-md px-3 py-2 focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              min="0"
              placeholder="Enter product price"
              formControlName="price"
            />
            <small class="text-red-500" *ngIf="itemForm.get('price')?.invalid && itemForm.get('price')?.touched">
              {{ getErrorMessage('price') }}
            </small>
          </div>
          <div class="mb-4">
            <textarea
              rows="4"
              class="w-full bg-transparent text-sm border rounded-md px-3 py-2 focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              placeholder="Enter product description"
              formControlName="description"
            ></textarea>
            <small class="text-red-500" *ngIf="itemForm.get('description')?.invalid && itemForm.get('description')?.touched">
              {{ getErrorMessage('description') }}
            </small>
          </div>
          <app-button
            [text]="editMode ? 'Update' : 'Submit'"
            [shouldDisable]="itemForm.invalid"
            className="bg-primary-green text-white text-sm border border-border-light"
          ></app-button>
        </form>
      </div>
    </div>
  </div>
  